<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Tour Agency</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/packages">Packages</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/booking-history">Bookings</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/contact-us">Contact</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/faq">FAQ</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/user-profile">Profile</a></li>
      </ul>
    </div>
  </div>
</nav> -->
<!-- app.component.html -->
<router-outlet></router-outlet>

